
<h3>Welcome to the Guessing Game. The computer has the winning number(between 1 - 100).
  If you guess it correctly, you will see a message saying you won.</h3>

<%= form_tag("/guess_number", method: "post") do %>
  <%= label_tag(:q, "Please enter your guess here:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit Guess!") %>
<% end %>

<%= @message %>
